@import 'header/main';
@import 'header/nav';
@import 'components/signupcom';
@import 'footer/main';

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  min-height: 100vh;
}

@import 'components/posterrow';
@import 'components/posterdetail';
@import 'components/poster';