@import 'header/main';
@import 'header/nav';
@import 'components/signupcom';
@import 'components/signinwindowcom';
@import 'components/profilepagecom';
@import 'components/profileuserinfo';
@import 'footer/main';

.body {
  display: flex;
  // min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  min-height: 79vh;
}

@import 'components/productrow';
@import 'components/posterdetail';
@import 'components/poster';
@import 'components/producttile';
@import 'components/faq';


@media (max-width: 1000px) {
  .headerMobileDiv {
    // display: block;
    display: flex;
    justify-content: space-between;
  }

  .headerDiv {
    flex-direction: column;
    padding-top: 0;
  }

  .headerSuperMain {
    display: none
  }
  
  .brandingDiv {
    justify-content: center;
    border-top: none;
  }

  .brandingName {
    padding-right: 74px;
  }
}