.priceDiv {
  display: inline-flex;
}

.posterDetail {
  display: inline-flex;
  margin-top: 30px;
  margin-bottom: 50px;
}
.posterDetailGrid {
  margin-left: 200px;
  min-width: 38vw;
}
.posterDetailBuyBtn {
  display: block;
}

.posterDetailPrice {
  margin-top: 42px;
}

.posterDetailRight {
  margin-top: 50px;
  margin-left: 50px;
}

.loginLinkProduct {
  text-align: center;
  text-decoration: none;
  color: black;
  height: 36px;
  width: 95px;
}

@media (max-width: "1000px") {
  .posterDetail {
    display: block;
  }
  .posterDetailRight {
    margin-left: 0px;
  }
}