.priceDiv {
  display: inline-flex;
}

.posterDetail {
  display: inline-flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.posterDetailBuyBtn {
  display: block;
}

.posterDetailPrice {
  margin-top: 42px;
}

.posterDetailRight {
  margin-top: 50px;
}