.postersDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.posterGallery {
  display: block;
  margin-top: 0;
}

.posterGalleryH3 {
  text-align: left;
  margin: 58px;
  margin-bottom: 20px;
}

.posterGalleryPrices {
  margin-bottom: 50px;
}