.userInfo {
  background-color: #f1e2d6;
}

@media (min-width: 960px) {
  .userInfo {
    align-items: center;
    border: 2px solid black;
    width: 49vw;
    min-height: 500px;
    margin: 15px auto
  }
}

@media (max-width: 960px) {
  .userInfo {
    align-items: center;
    border: 2px solid black;
    min-height: 400px;
    margin: 15px 0;
  }
}