.sign-up-box {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;	
}

.sign-up-to-sign-in {
	position: relative;
	left: 10px;
	color: white;
}