.sign-up-box {
	height: 80vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;	
}

.sign-up-to-sign-in {
	position: relative;
	left: 10px;
}

p.login {
	margin-top: 0.5em;
}

h2.signup {
	margin-bottom: 0;
}

span.italic {
  font-style: italic;
}