header {
  margin-top: 5px;
}

.headerDiv {
  box-shadow: 10px 5px 9px #888888;
  background: #6b5742;
  padding-top: 2px;
  display: flex;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  border-radius: 3px;
  border: 2px solid black;
  height: 36px;
  width: 95px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
}
.loginBtn:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.loginLink {
  position: absolute;
  top: 10px;
  left: 0px;
  text-decoration: none;
  color: black;
  height: 36px;
  width: 95px;
}

.brandingDiv {
  display: flex;
  background-color: white;
  border-top: 1px solid black;
  box-shadow: black 12px -20px 12px -11px;
  z-index: 1;
}

.brandingName {
  line-height: 0.5em;
  padding-right: 10px;
}

.brandingIcon {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.headerMain {
  flex: 1;
  position: relative;
  height: inherit;
}

.headerSuperMain {
  position: absolute;
  width: 100vw;
  height: 81.33px;
}

nav {
  display: flex;
  justify-content: center;
  margin: 5px auto;
  width: 100%;
  margin-bottom: 0px;
  background-color: white;
  bottom: 0px;
  position: absolute;
}

nav a {
  color: black;
  text-decoration: none;
  height: 25px;
  font-size: 20px;
  max-width: 200px;
  width: 33.3%;
}
nav a:hover {
  background-color: #cfc7be;
}

nav a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

nav a:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

@media (max-width: 1000px) {
  .headerDiv {
    display: block;
    height: 168px;
  }

  .brandingDiv {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .headerDiv {
    display: block;
    height: 168px;
  }

  .brandingDiv {
    justify-content: center;
  }
}
.sign-up-box {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.sign-up-box span {
  color: white;
}

.sign-up-to-sign-in {
  position: relative;
  left: 10px;
  color: white;
}

.footerTop {
  background-color: #bdbaba;
  color: black;
}

.footerBottom {
  background-color: black;
  color: white;
}

.footerLink {
  margin: 5px;
  color: black;
  text-decoration: none;
  display: block;
}

.footerLink:first-child {
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15px;
}

.footerLink:last-child {
  margin-bottom: 15px;
}

.body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  min-height: 79vh;
}

.productsMainRowDiv {
  max-width: 1000px;
  margin: 50px auto;
  border: 1px solid black;
  box-shadow: 8px 7px 7px #888888;
}

.productsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productRow {
  display: block;
  margin-top: 0;
  min-width: 25%;
}

.productRowH3 {
  text-align: left;
  margin: 41px;
  margin-bottom: 20px;
}

.productRowPrices {
  margin-bottom: 50px;
}

.priceDiv {
  display: inline-flex;
}

.posterDetail {
  display: inline-flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.posterDetailBuyBtn {
  display: block;
}

.posterDetailPrice {
  margin-top: 42px;
}

.posterDetailRight {
  margin-top: 50px;
  margin-left: 50px;
}

.loginLinkProduct {
  text-align: center;
  text-decoration: none;
  color: black;
  height: 36px;
  width: 95px;
}

.posterDiv {
  margin: 0 auto;
}

.posterImg {
  box-shadow: 8px 7px 7px #888888;
}

.posterPreviewImg {
  max-width: 100%;
}

.faqContainer {
  margin-top: 20px;
}

.faqItem {
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
