header {
  margin-top: 5px;
}

.headerDiv {
  box-shadow: 10px 5px 9px #888888;
  background: #6b5742;
  padding-top: 2px;
  display: flex;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  border-radius: 3px;
  border: 2px solid black;
  height: 36px;
  width: 95px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.80);
  &:hover {
    background-color: rgba(255, 255, 255, 0.90);
  }
}

.loginLink {
  position: absolute;
  top: 10px;
  left: 0px;
  text-decoration: none;
  color: black;
  height: 36px;
  width: 95px;
}

.brandingDiv {
  display: flex;
  background-color: white;
  border-top: 1px solid black;
  box-shadow: black 12px -20px 12px -11px;
  z-index: 1;
}

.brandingName {
  line-height: 0.5em;
  padding-right: 10px;
}

.brandingIcon {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.headerMain {
  flex: 1;
  position: relative;
  height: inherit;
}

.headerSuperMain {
  position: absolute;
  width: 100vw;
  height: 81.33px;
}

.headerMobileDiv {
  display: none;
}