.headerDiv {
  box-shadow: 10px 5px 9px #888888;
  background: #947758;
  padding-top: 2px;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  background-color: rgb(155, 154, 154);
}